﻿@model Quiz.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <fieldset>
                <legend>Раунды</legend>
                <table>
                    @foreach (var round in Model.Rounds)
                    {
                        <tr>
                            <td>@round.Theme</td>
                            <td><a href="~/Rounds/Delete/@round.GameId&@round.RoundId">Удалить</a></td>
                            <td><a href="~/Rounds/Edit/@round.GameId&@round.RoundId">Изменить</a></td>
                        </tr>
                    }
                </table>
            </fieldset>
            <p>
                <a href="~/Rounds/Create/@Model.GameId">Добавить раунд</a>
            </p>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
