﻿@model Quiz.Models.Round

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Round</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theme)
        </dd>
    </dl>
</div>
<fieldset>
    <legend>Вопросы</legend>
    <table>
        @foreach (var question in Model.Questions)
        {
            <tr>
                <td>@question.QuestionBody</td>
                <td>@question.RightAnswer</td>
                <td><a href="~/Questions/Delete/@Model.GameId&@Model.RoundId&@question.QuestionId">Удалить</a></td>
                <td><a href="~/Questions/Edit/@Model.GameId&@Model.RoundId&@question.QuestionId">Изменить</a></td>
            </tr>
        }
    </table>
</fieldset>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoundId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
