﻿@model Quiz.Models.Round

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Round</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Theme" class="control-label"></label>
                <input asp-for="Theme" class="form-control" />
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="RoundId" />

            <fieldset>
                <legend>Вопросы</legend>
                <table>
                    @if (Model.Questions!=null)
                    @foreach (var question in Model.Questions)
                    {
                    <tr>
                        <td>@question.QuestionBody</td>
                        <td>@question.RightAnswer</td>
                        <td><a href="~/Questions/Delete/@Model.GameId&@Model.RoundId&@question.QuestionId">Удалить</a></td>
                        <td><a href="~/Questions/Edit/@Model.GameId&@Model.RoundId&@question.QuestionId">Изменить</a></td>
                    </tr>
                    }
                </table>
            </fieldset>
            <p>
                <a href="~/Questions/Create/@Model.GameId&@Model.RoundId">Добавить вопрос</a>
            </p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
