﻿@using Quiz.Models.Dictionaries
@model Quiz.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionBody" class="control-label"></label>
                <input asp-for="QuestionBody" class="form-control" />
                <span asp-validation-for="QuestionBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightAnswer" class="control-label"></label>
                <input asp-for="RightAnswer" class="form-control" />
                <span asp-validation-for="RightAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPoints" class="control-label"></label>
                <input asp-for="MaxPoints" class="form-control" />
                <span asp-validation-for="MaxPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerType" class="control-label"></label>
                <select asp-for="AnswerType" class="form-control" asp-items="Html.GetEnumSelectList<AnswerType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="AnswerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <input type="hidden" value="@ViewBag.RoundId" name="RoundId" />
            <input type="hidden" value="@ViewBag.GameId" name="GameId" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
