﻿@using Quiz.Models.Dictionaries
@model Quiz.Models.Question

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionId" />
            <div class="form-group">
                <label asp-for="QuestionBody" class="control-label"></label>
                <input asp-for="QuestionBody" class="form-control" />
                <span asp-validation-for="QuestionBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightAnswer" class="control-label"></label>
                <input asp-for="RightAnswer" class="form-control" />
                <span asp-validation-for="RightAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPoints" class="control-label"></label>
                <input asp-for="MaxPoints" class="form-control" />
                <span asp-validation-for="MaxPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerType" class="control-label"></label>
                <select asp-for="AnswerType" class="form-control" asp-items="Html.GetEnumSelectList<AnswerType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="AnswerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <p>
                <a href="~/AnswerVariants/Create/@Model.GameId&@Model.RoundId@Model.QuestionId">Добавить вариант ответа</a>
            </p>
            @if (Model.AnswerVariants != null)
            @foreach (var answerVariant in Model.AnswerVariants)
            {
                <tr>
                    <td>@answerVariant.Variant</td>
                </tr>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
